<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 특정 패키지 -->
    <logger name="com.example" level="INFO"/>

    <!-- MariaDB JDBC 로그 -->
    <logger name="org.mariadb.jdbc" level="INFO"/>

    <!-- 전체 기본 로그 레벨 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>